@import url("https://fonts.googleapis.com/css2?family=Itim&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
  font-family: "Itim", cursive;
  color: rgb(255, 127, 161);
}

body {
  cursor: url(/images/paw-sor.png), default;
  background-image: url(/images/paw-print-background.jpeg);
  background-repeat: repeat;
}

header {
  height: 200px;
  width: 100vw;
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  font-size: 1.7rem;
  box-shadow: 0px -2px 20px 2px rgba(167, 88, 105, 0.4);
}

section {
  height: 85vh;
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: absolute;
}


.shop {
  font-size: 1.7rem;
}

.shop-cells {
  position: relative;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  height: 150px;
  width: 150px;
  border: 5px solid rgb(255, 127, 161);
}

.shop-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  gap: 20px;
  padding-top: 30px;
}

.unicorn {
  background-image: url(/images/pusheen-unicorn.png);
}

.unicorn-price {
  position: relative;
}

.pip {
  background-image: url(/images/pip.png);
}

.lulu {
  background-image: url(/images/lulu.png);
}

.tommy {
  background-image: url(/images/tommy.png);
}

.rules {
  padding: 40px 40px 50px 40px;
  font-size: 1.7rem;
  line-height: 2.4rem;
}

.rules > h2 {
  text-decoration: underline;
  padding-left: 30px;
  padding-bottom: 20px;
}

.shop > h2 {
  text-decoration: underline;
  padding: 30px 0 0 50px;
}

/* .rules ul > li {
  list-style: "💕 ";
} */
 
.box-design {
  position: relative;
  height: 500px;
  width: 450px;
  background-color: white;
  box-shadow: 0px -2px 20px 2px rgba(167, 88, 105, 0.4);
  border: 1px solid white;
  border-radius: 20px;
}

.board {
  height: 650px;
  width: 650px;
  background-image: url(/images/board-bg.jpeg);
  background-size: 100%;
  background-repeat: no-repeat;
  background-position: center;
  display: flex;
  flex-wrap: wrap;
}

.cell {
  background-image: none;
  height: 200px;
  width: 200px;
  margin: 5px 8px;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

.player-one {
  background-image: url(/images/player-1.png);
}

.player-two {
  background-image: url(/images/player-2.png);
}

.victory-screen {
  position: fixed;
  top: 0;
  height: 100vh;
  width: 100vw;
  background-color: rgba(0, 0, 0, 0.85);
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  font-size: 5rem;
}

.victory-screen > .player-one,
.victory-screen > .player-two {
  height: 150px;
  width: 200px;
  background-size: contain;
  background-repeat: no-repeat;
}

.hidden {
  display: none;
}

.play-again-btn {
  margin: 35px;
  width: 200px;
  height: 50px;
  font-size: 2rem;
  background-color: rgb(255, 235, 239);
  text-align: center;
  border: 1px solid rgb(255, 235, 239);
  border-radius: 10px;
  text-shadow: 4px 4px rgb(255, 255, 255);
}